/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEICON CDN */
@import url(http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css);

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nanum Myeongjo', serif;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
body {
  text-align: center;
}

.game {
  background-image: url(img/playground.png);
  background-size: cover;
  width: 800px;
  height: 600px;
  margin: auto;
  position: relative;
  border-radius: 20px;
}

.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.game-start-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  border: 4px solid #000;
  border-radius: 10px;
  background-color: #F2BBA0;
}
.game-start-button.active {
  display: none;
}
.game-stop-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  border: 4px solid #000;
  border-radius: 10px;
  background-color: #F2BBA0;
  display: none;
}
.game-stop-button.active{
  display: block;
}

.game-timer {
  font-size: 20px;
  padding: 5px;
  margin: 20px;
  border: 4px solid black;
  width: 150px;
  border-radius: 20px;
  background-color: white;
  font-weight: bold;
  letter-spacing: 0.07em;
  visibility: hidden;
}

.game-score {
  width: 40px;
  height: 40px;
  border: 3px solid #000;
  font-size: 15px;
  border-radius: 50%;
  background-color: #F2BBA0;
  line-height: 35px;
  font-weight: bold;
  visibility: hidden;
}

.game-start,
.pop-up {
  border: 5px solid #000;
  background-color: rgba(0,0,0,0.7);
  width: 400px;
  height: 250px;
  border-radius: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
  transform: translateY(-170%);
}
.game-start-hide {
  display: none;
}
.start-message{
  display: inline-block;
  font-size: 15px;
  padding-top: 40px;
}
.game-start img {
  width: 50px;
  display: block;
  margin: 30px auto;
}
.OkButton {
  color: white;
  font-size: 15px;
  border: 3px solid white;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.heart {
  position: absolute;
  top: 55px;
  left: 60px;

}
.heart i {
  font-size: 25px;
  margin: 0 5px;
}

.game-field {
  width: 100%;
  height: 350px;
  opacity: 0.8;
  position: relative;
}

.game-field-stop {
  pointer-events: none;
}

.pop-up {
  padding: 70px 0;
}

.pop-up-refresh {
  display: block;
  margin: auto;
  font-size: 20px;
  color: white;
  border: 4px solid white;
  padding: 5px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: 40px;
}
.pop-up-message {
  font-size: 15px;
}
.pop-up img {
  width: 80px;
  vertical-align: middle;
}

.backpack,
.else {
  transition: transform 200ms ease-in;
  cursor: pointer;
  user-select: none;
}

.backpack:hover,
.else:hover {
  transform: scale(1.2);
}

.heart1,
.heart2,
.heart3,
.heart4,
.heart5 {
  visibility: visible;
}

.heart1.active,
.heart2.active,
.heart3.active,
.heart4.active,
.heart5.active{
  visibility: hidden;
}